*~
*.csv
*.png
*.pdf
*.pkl
slurm-*
run_*.sh
core.*
calcium_model_bdf
scratch.ipynb

.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode/
result/
multi-sample-analysis

gene2go
go-basic.obo

!chain_*.csv
!stan_fit_samples.csv
!stan_fit_summary.csv
